asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
configparser==4.0.2
cryptography==2.8
cycler==0.10.0
googletrans==2.4.0
idna==2.8
jieba==0.39
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.17.4
packaging==19.2
Pillow==6.2.1
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.5
PyQt5==5.13.0
PyQt5-sip==12.7.0
pyqt5-tools==5.13.0.1.5
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.10.3
requests==2.22.0
selenium==3.141.0
sip==5.0.0
six==1.13.0
toml==0.10.0
urllib3==1.25.7
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.6.0
